<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/all.js"></script>
    <title>CSGOTeamStats</title>
</head>

<body>
    <div id="login">
        <form onsubmit="login(event)">
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Email..." name="eamil" id="eamil" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password..." name="psw" id="psw" required>

            <input type="submit" value="Login">
        </form>
        <button id="adminButton" onclick="changeMode()" class="button_a">Sing up for our admin program</button>
        <br>
        <p id="mgsLogin"></p>
    </div>
    <div id="trying" style="display: none;">
        <form onsubmit="sendEmail(event)">
            <label for="eamil1"><b>Email</b></label>
            <input type="text" placeholder="Enter Email..." name="eamil1" id="eamil1" required>

            <input type="submit" value="Send">
        </form>
        <button onclick="changeMode()" class="button_a">Go back for login</button>
    </div>
    <script src="/static/scripts/admin.js"></script>
</body>

</html>