<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/all.js"></script>
    <title>CSGOTeamStats</title>
</head>

<body onload="loadPage()">
    <div id="loader" class="loader-wrapper">
        <div class="loader">
            <img src="/static/images/loader.svg" alt="loader">
        </div>
    </div>
    <div id="page" style="display: none;">
        <!-- BARRA DE CIMA -->
        <header class="header">
            <div id="mySidenav" class="sidenav">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
            <!-- hambúrger -->
            <div class="bar" onclick="sideNav(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <!-- logo -->
            <img src="/static/images/logo-title.png" class="logo_title">
            <img src="/static/images/logo-image.png" class="logo_image">
            <!-- botão de login -->
            <a href="/login" class="loginButton">Log in</a>
        </header>
        <div id="main">
            <div style="text-align: center; width: 100%; display: flex; padding: 5px">
                <div class="statistics">
                    <h2>Statistics</h2>
                </div>

                <!-- JOGOS -->
                <div class="matches">
                    <h2>Last Matches</h2>
                    <div class="match">
                        <table>
                            <td>05-dez</td>
                            <td style="min-width: 250px; text-align: right;">Astralis</td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td class="result">
                                <span>0</span>
                                VS
                                <span>2</span>
                            </td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td>Team Liquid</td>
                        </table>
                    </div>
                    <div class="match">
                        <table>
                            <td>05-dez</td>
                            <td style="min-width: 250px; text-align: right;">Giants</td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td class="result">
                                <span>0</span>
                                VS
                                <span>1</span>
                            </td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td>Fnatic</td>
                        </table>
                    </div>
                    <div class="match">
                        <table>
                            <td>05-dez</td>
                            <td style="min-width: 250px; text-align: right;">FaZe Clan</td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td class="result">
                                <span>2</span>
                                VS
                                <span>1</span>
                            </td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td>Windigo</td>
                        </table>
                    </div>
                    <div class="match">
                        <table>
                            <td>04-dez</td>
                            <td style="min-width: 250px; text-align: right;">Virtus.pro</td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td class="result">
                                <span>2</span>
                                VS
                                <span>0</span>
                            </td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td>NaVi</td>
                        </table>
                    </div>
                    <div class="match">
                        <table>
                            <td>04-dez</td>
                            <td style="min-width: 250px; text-align: right;">Cloud9</td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td class="result">
                                <span>0</span>
                                VS
                                <span>1</span>
                            </td>
                            <td><img src="/static/images/logo-team.png" style="width: 20px; height: 20px;"></td>
                            <td>Hell Raisers</td>
                        </table>
                    </div>
                </div>

                <!-- JOGADORES EM DESTAQUE -->
                <div class="players">
                    <h2>Featured Players</h2>
                    <div class="player">
                        <table>
                            <td><img src="/static/images/logo-jogador.png" style="width: 30px; height: 40px;"></td>
                            <td style="min-width: 250px; text-align: left;">dupreeh</td>
                            <td><img src="/static/images/logo-team.png" style="width: 40px; height: 40px;"></td>
                        </table>
                    </div>
                    <div class="player">
                        <table>
                            <td><img src="/static/images/logo-jogador.png" style="width: 30px; height: 40px;"></td>
                            <td style="min-width: 250px; text-align: left;">karrigan</td>
                            <td><img src="/static/images/logo-team.png" style="width: 40px; height: 40px;"></td>
                        </table>
                    </div>
                    <div class="player">
                        <table>
                            <td><img src="/static/images/logo-jogador.png" style="width: 30px; height: 40px;"></td>
                            <td style="min-width: 250px; text-align: left;">fox</td>
                            <td><img src="/static/images/logo-team.png" style="width: 40px; height: 40px;"></td>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>