<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/all.js"></script>
    <title>CSGOTeamStats</title>
</head>

<body onload="loadPage()">
    <div id="loader" class="loader-wrapper">
        <div class="loader">
            <img src="/static/images/loader.svg" alt="loader">
        </div>
    </div>
    <div id="page" style="display: none;">
        <!-- BARRA DE CIMA -->
        <header class="header">
            <div style="width: 100%; margin: auto; text-align: center;">
                <!-- hambúrger -->
                <i class="fas fa-bars"></i>
                <!-- logo -->
                <img src="/static/images/logo-title.png" class="logo_title">
                <img src="/static/images/logo-image.png" class="logo_image">
                <!-- botão de login -->
                <a href="/login" class="loginButton">Log in</a>
            </div>
        </header>
    </div>

    <div class="statistics">
        mlakndlkandl
    </div>

    <!-- JOGOS -->
    <div class="matches">
        <b>Last Matches</b>
        <tr>
            <div class="match">
                <table>
                    <td>05-dez</td>
                    <td style="min-width: 200px; text-align: right;">Astralis</td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>
                        <span>0</span>
                        VS
                        <span>2</span>
                    </td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>Team Liquid</td>
                </table>
            </div>
            <div class="match">
                <table>
                    <td>05-dez</td>
                    <td style="min-width: 200px; text-align: right;">Giants</td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>
                        <span>0</span>
                        VS
                        <span>1</span>
                    </td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>Fnatic</td>
                </table>
            </div>
            <div class="match">
                <table>
                    <td>05-dez</td>
                    <td style="min-width: 200px; text-align: right;">FaZe Clan</td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>
                        <span>2</span>
                        VS
                        <span>1</span>
                    </td>
                    <td><img src="/static/images/logo-image.png" style="width: 20px; height: 20px;"></td>
                    <td>Windigo</td>
                </table>
            </div>
        </tr>
    </div>

    <div class="players">
        mlakndlkandl
    </div>

</body>

</html>