<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/player.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/all.js"></script>
    <script src="/static/scripts/player.js"></script>
    <title>Players</title>
</head>

<body onload="loadPage()">
    <noscript>Javascript must be active for this page to work!</noscript>
    <div id="loader" class="loader-wrapper">
        <div class="loader">
            <img src="/static/images/loader.svg" alt="loader">
        </div>
    </div>
    <div id="page" style="display: none;">
        <header class="header">
            <div style="width: 100%; margin: auto; text-align: center;">
                <!-- hambúrger -->
                <img src="/static/images/dropdown.png" class="hamburguer">
                <!-- logo -->
                <img src="/static/images/logo-title.png" class="logo_title">
                <img src="/static/images/logo-image.png" class="logo_image">
                <!-- botão de login -->
                <a href="http://localhost:3001/login" class="loginButton">Log in</a>
            </div>
        </header>
        <div>
            <div>
                <img id="player_image" src="/static/images/unimage-team.svg" alt="Player">
            </div>
            <div>
                <div id="player_slug"></div>
                <div id="player_name"></div>
            </div>
        </div>
    </div>
</body>

</html>