body {
    margin: 0;
    background-color: lightgray;
    overflow-x: hidden;
}

.loader {
    background-repeat: no-repeat;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 10px
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

.header {
    height: 60px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(53, 53, 53);
    text-align: center;
}

.logo_title {
    display: inline-block;
    width: 270px;
    height: 40px;
}

.logo_image {
    width: 40px;
    height: 40px;
}

/* BOTÃO DE LOGIN */
.loginButton {
    background-color: #16a085;
    color: black;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    height: 30px;
    float: right;
    transition: 0.5s;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px;
}

.loginButton:hover {
    background-color: #1eceaa;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Style the hamburger menu */
.bar {
    float: left;
    cursor: pointer;
    z-index: 5 !important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(155, 155, 155);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Twicht */
.fa-twitch {
    background: #6441a5;
    color: white;
}

@media screen and (max-width: 700px) {
    .logo_title {
        display: none;
    }
}