.players {
    background-color: lightgray;
    color: #16a085;
    /*border: 2px solid black;*/
    display: inline-block;
    width: 350px;
    height: 700px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.players .player {
    background-color: gray;
    color: black;
    font-size: 15px;
    padding: 3px;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.players .player:hover {
    background-color: rgb(190, 190, 190);
}

.matches {
    background-color: lightgray;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: inline-block;
    color: #16a085;
    padding-left: 10px;
    padding-right: 10px;
    width: 740px;
    height: 700px;
    margin: 5px;
}

.matches .match {
    display: block;
    background-color: gray;
    /* background-image: linear-gradient(to right, white, gray, white); */
    color: black;
    font-size: 15px;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.matches .match:hover {
    background-color: rgb(190, 190, 190);
}

.matches .match .result {
    size: 20px;
}

.details {
    background-color: rgb(53, 53, 53);
    max-height: 0;
    overflow: hidden;
    color: #16a085;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: max-height 0.2s ease-out;
}

.details .team1 .team1_players {
    float: left;
    text-align: left;
    padding-left: 50px;
    min-width: 150px;
}

.details .team1 .logo {
    padding-top: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.7;
    float: left;
    padding-left: 0px;
}

.details .team2 .team2_players {
    float: right;
    text-align: right;
    padding-right: 50px;
}

.details .team2 .logo {
    padding-top: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.7;
    float: left;
    padding-left: 100px;
}

.details .maps {
    font-size: 15px;
    width: 100%;
    /*
    border-collapse: collapse;
    border: 1px solid white;
    */
    table-layout: fixed;
}


.statistics {
    background-color: white;
    color: black;
    /*border: 2px solid black;*/
    display: inline-block;
    width: 740px;
    height: 700px;
    margin: 5px;
}

.searchBox {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}