.players {
    background-color: rgba(53, 53, 53, 0.8);
    display:inline-block;
    width: 500px;
    height: 700px;
}

.matches {
    background-color: rgb(53, 53, 53);
    display:inline-block;
    color: #16a084;
    /*display: inline-block;*/
    width: 870px;
    height: 700px;
    padding: 10px;
}

.matches .match {
    display: flex;
    /*border-style: outset;
    border-color: #16a085; */
    
    background-color: lightgray;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
}

.matches .match .result {
    size: 20px;
}

.statistics {
    background-color: rgba(53, 53, 53, 0.8);
    display:inline-block;
    width: 500px;
    height: 700px;
}