.players {
    background-color: lightgray;
    color: #16a085;
    /*border: 2px solid black;*/
    display: inline-block;
    width: 350px;
    height: 700px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.players .player {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 250px;
    background-color: gray;
    color: black;
    font-size: 15px;
    padding: 3px;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.player .left-img {
    width: 30px;
    height: 40px;
}

.player .text {
    /*margin: 0px 28px;*/
    padding-left: 30px;
    min-width: 190px;
    text-align: left;
    color: black;
    text-decoration: none;
}

.player .text:visited,
.player .text:hover,
.player .text:active {
    color: black;
}

.player .right-img {
    float: right;
    width: 40px;
    height: 40px;
}

.rank {
    /*margin: 15px;*/
    min-width: 30px;
}

.players .player:hover {
    background-color: rgb(190, 190, 190);
}

.matches {
    background-color: lightgray;
    display: inline-block;
    color: #16a085;
    padding-left: 10px;
    padding-right: 10px;
    width: 740px;
    height: 700px;
    margin: 5px;
}

.matches .match {
    display: block;
    background-color: gray;
    /* background-image: linear-gradient(to right, white, gray, white); */
    color: black;
    font-size: 15px;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.matches .match:hover {
    background-color: rgb(190, 190, 190);
}

.matches .match .result {
    size: 20px;
    min-width: 100px;
}

.details {
    background-color: rgb(53, 53, 53);
    max-height: 0;
    overflow: hidden;
    color: #16a085;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7);
    transition: max-height 0.2s ease-out;
    background-image: linear-gradient(to right, black, darkgray, black);
}

.details .team1 {
    width: 40%;
    height:100%;
    float: left;
}

details .team2 {
    width: 40%;
    height:100%;
    float: left;
}

.details .result {
    width: 20%;
    height: 100%;   
    float: left;
    font-size: 30px;
    margin-top: 50px;
    color: white;
}

.details .result span {
    padding: 10px;
}

.details .team1 .team1_players {
    float: left;
    text-align: left;
    min-width: 150px;
    padding-left: 20px;
}

.details .team2 .team2_players {
    float: right;
    text-align: right;
    min-width: 150px;
    padding-right: 20px;
}

.details .logo {
    padding-top: 30px;
    width: 80px;
    height: 80px;
}

.details .maps {
    font-size: 15px;
    width: 100%;
    /*
    border-collapse: collapse;
    border: 1px solid white;
    */
    table-layout: fixed;
    color: white;
}


.searchDiv {
    background-color: white;
    color: black;
    /*border: 2px solid black;*/
    display: inline-block;
    width: 740px;
    height: 700px;
    margin: 5px;
}

.searchBar {
    margin-top: 5px;
    height: 20px;
    background-color: white;
    background-image: url('/static/images/search.png');
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#search_list p {
    text-align: center;
}

.searchBox {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.search-img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-style: none;
    background-color: rgb(199, 199, 199);
}

.search-header {
    background-color: #f6f6f9;
    color: rgba(53, 53, 53, .5);
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    margin-top: 10px;
}

.search-info {
    margin-left: 10px;
}

.search-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
}

.search-text-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    color: #2d6da3;
}

.search-text-link:hover {
    text-decoration: underline;
}

.search-text-link:visited,
.search-text-link:active {
    color: #2d6da3;
}