.score {
    height: 150px;
    width: 400px;
    font-size: 30px;
    margin-top: 30px;
    height: 230px;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 2;
    position: absolute;
}

.score .result {
    display: inline-block;
    width: 60%;
    margin-top: 50px;
    font-size: 60px;
}

.score .result .team1 {
    float: left;
    text-align: center;
    margin-left: 40px;
}

.score .result .team2 {
    float: right;
    text-align: center;
    margin-right: 40px;
}

.score .team1 {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.score .team2 {
    width: 20%;
    height: 100%;
    float: right;
    text-align: center;
}

.score .logo {
    width: 100%;
    height: 150px;
    display: block;
}








.maps {
    height: auto;
    width: 740px;
    left: calc(50% - 370px);
    z-index: 2;
    position: absolute;
    margin-top: 300px;
}

.map {
    margin-bottom: 70px;
    position: relative;
}

.maps table, th, td {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    font-size: 14px;
    text-align: center;
    padding-right: 4px;
    padding-left: 4px;
}

.maps table {
    display: inline-block;
}

.maps th {
    color: white;
    background-color: gray;
}

.map_image {
    width: 100%;
    height: 50px;
    z-index: -1;
}

.map_name {
    position: absolute;
    top: 5%;
    left: 42%;
    /*
    transform: translate(-50%, -50%);
    */
    text-align: center;
    color: white;
    min-width: 100px;
}

.team1_score {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.team2_score {
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.logo_team {
    width: 40px;
    height: 40px;
}

.player_flag {
    width: 25px;
    height: 15px;
}


.highlights {
    height: auto;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 2;
    position: relative;
    /*margin-top: 1200px;*/
    margin-bottom: 100px;
}




.comments_heading {
    margin-top: 30px;
}

.comments_area {
    width: 100%;
}

.comments_area textarea {
    width: 100%;
    padding: 15px;
    height: 150px;
    resize: none;
    overflow: auto;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .4);
}


.comments_area div {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.comments_area button {

    float: right;
    width: 150px;
    height: 30px;
    background: rgb(199, 199, 199);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin: 5px;
}

.comments_area button:hover {
    background: rgb(134, 134, 134);
}

.comments_area input[type=checkbox] {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    margin: 5px;
}

.comments {
    border-top: 1px solid rgb(153, 153, 153);
    clear: both;
    list-style: none;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
}

.comments-bubble {
    position: relative;
    background: #c0c0c0;
    border: 1px solid #bebebe;
    height: auto;
    border-radius: 5px;
    margin-bottom: 75px;
    padding: 15px 10px 10px 15px;
}

.comments-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 39px solid transparent;
    border-right-color: #c0c0c0;
    border-left: 0;
    border-bottom: 0;
    margin-top: -19.5px;
    margin-left: -39px;
}

.comments_odd {
    background: #e2e6ec;
}

.comments_odd:after {
    border-right-color: #e2e6ec;
}

.comments_bubble_text {
    padding: 0;
    min-height: 0;
    width: 100%;
}

.comments_madeby {
    font-size: 10px;
    line-height: 18px;
}

.comments_buttons_group {
    bottom: 5px;
    position: absolute;
    right: 5px;
}

.comments_buttons {
    float: right;
    margin-right: 10px;
}

.comments_buttons button {
    background: transparent;
    color: grey;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.comments_buttons button:active {
    color: blue;
}

.editable {
    background-color: #d1d1d1;
    outline: 0;
}

.editableButtons {
    font-size: 30px;
}

.editableButtons buttons {
    font-size: 30px;
}

